@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-pomodoro {
  padding: 0 10px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
  margin-left: 10px;
}

/* 일하는 시간 (work) */
#custom-pomodoro {
  background-color: #ff5555; /* 빨간색 계열 */
  color: #ffffff;
}

/* 쉬는 시간 (break) */
#custom-pomodoro.break {
  background-color: #50fa7b; /* 초록색 계열 */
  color: #282a36;
}

/* 완료됨 (critical) */
#custom-pomodoro.critical {
  background-color: #f1fa8c; /* 노란색 */
  color: #ff5555;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
